{% extends "base.html.twig" %}

{% block heading %}
	Home
{% endblock %}

{% block content %}
	{% for post in posts %}
		<a href="/post?id={{ post.id }}" class="text-reset text-decoration-none">
			<div class="row mb-4">
				<div class="col-8">
					<div class="row">
						<div class="col-12">
							<h3>{{ post.title }}</h3>
						</div>
						<div class="col-12">
							<p>{{ post.description }}</p>
						</div>
					</div>
				</div>
				<div class="col-4">
					<img class="img-thumbnail" src="{{ post.link }}" alt="image">
				</div>
			</div>
		</a>
	{% endfor %}
{% endblock %}
